.header {

  display: flex;
  justify-content: space-between;
  align-items:center;

  padding: 53px 72px 53px 30px;

  background: var(--bg-color-a);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

  &__logo {
    display: flex;
    justify-content: center;
    align-items:center;
    width: Min(15.486vw, 223px);
    height: Min(7.361vw, 106px);
  }

  &-tel {

    &__link {
    display: flex;

    grid-gap: 19px;
    }

    &__number {
      display: block;
      padding: 5px 0;

      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      background: linear-gradient(180deg, #FDE511 0%, #FFD222 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      // text-fill-color: transparent;
    }
  }

  &-social {
    display: flex;
    grid-gap: 32px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      bottom: 0;
      left: -40px;
    }
  }

  &-menu {

    display: block;

    width: 47px;
    height: 32px;

    span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--bg-color-e);
    margin-bottom: 7px;
    transition: all 0.5s;
    border-radius: 3px;
  }
 }
}
