.services {
  margin-bottom: 60px;


  &__wrapper-bg {

    background: linear-gradient(360deg, rgba(122, 110, 87, 0.8) -12.02%, rgba(194, 183, 160, 0.8) 43.33%, rgba(240, 230, 211, 0.8) 108.74%);
    border-radius: 10px;

    padding: 23px 33px;

  }

  &__title {
    margin-bottom: 50px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: var(--bg-color-f);
  }

  &__list {
    display: flex;
    justify-content: space-between;


    flex-direction: column;
    grid-gap: 14px;

  }



  &__item{
    display: grid;
    grid-template-columns: minmax(120px, 290px) 898px;
    justify-content: end;
    align-items: center;

    &:nth-child(3n+3) {

      div {
      background: #DAD4C8;
    }
  }
    &:nth-child(even) {
      grid-template-columns: minmax(120px, 898px) minmax(180px, 200px) 150px;
      justify-content: start;
      grid-gap: 95px;

      svg {
       fill:transparent;
       justify-content: flex-end;
      }

      span {
        text-align: center;
      }
    }
  }

  &__name {

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: left;

    color: var(--color-a);
  }

  &__descr {
    display: flex;
    justify-content: center;
    align-items:center;

    padding: 50px;


    width:  898px;

    height: 162px;


    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;



    color: var(--color-b);

    background: rgba(255, 255, 255, 0.51);
    border-radius: 10px;


  }
}


