:root {
  /* -- Fonts --*/


  --font-family: 'Montserrat Alternates', sans-serif;


  // text color

  --color-a: #ffffff;     // var(--color-a);
  --color-b: #6D6B67;     // var(--color-b);
  --color-c: #ac30ff;     // var(--color-c);
  --color-d: #D4D1CA;     // var(--color-d);
  --color-e: #E2E0D9;     // var(--color-e);
  --color-f: #000000;     // var(--color-f);
  --color-g:  #6d6b6773;  // var(--color-g);

  --color-ze: #0C76B6;   // var(--color-e);
  --color-zf: #EAE6DD;   // var(--color-f);

  // btn color

  --btn-color-a: #C9A348; // var(--btn-color-a);


  // bg
  --bg-color-a: #fff;       // var(--bg-color-a);
  --bg-color-b: #DAD4C8;    // var(--bg-color-b);
  --bg-color-c: #491E18;    // var(--bg-color-c);
  --bg-color-d: linear-gradient(180deg, #FDE511 0%, #FFD222 100%);    // var(--bg-color-d);
  --bg-color-e: #f2f2f2;    // var(--bg-color-e);
  --bg-color-f: #FFC330;    // var(--bg-color-f);


  --header-bg: #171a2a;
  --about-bg: #1a1f2c;
  --about-bg-alt: #10131c;
  --team-bg: #151924;

  --about-round-color: #472880;

  --other-game-bg: #0c121c;

  // Element color

  --circle-a: #653278;
}
